*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Balsamiq Sans', cursive;
}

.container{
	width: 50%;
	background:rgb(15, 70, 219);
	margin:200px auto;
	border-radius: 8px;
	padding: 10px
}

.title p{
	padding-left:20px;
	padding-top:20px;
	color:rgba(255,255,255,.7);
}

.title h1{
	padding-left: 20px;
	color:rgb(255,255,255);
	font-size: 28px;
}

.title h5{
	padding-left: 20px;
	color:rgba(255,255,255,.5);
	margin-top: 20px;
}

.countdown{
	background:rgb(12, 13, 36);
	width: 90%;
	margin:8px auto;
	border-radius: 8px;
	color:rgb(255,255,255);
	display: flex;
	justify-content: center;
}
.box{
	width: 100px;
	height: 80px;
	margin:10px;
	text-align: center;
}

.spare{
	margin-top: 10px;
}
.box p{
	font-weight: 300;
	font-size: 12px;
}